.wrapper {
            background: #f9f7f0 url('food.jpg');
            height: 100%;
            padding: 7rem;
        }
        .wrapper1 {
            background: #f9f7f0 url('food.jpg');
            height: 100%;
          width: 100%;

        }
.flex-container .box3 {
  background-color: rgb(224, 175, 244);
  width: 50%;
  margin: 10px;
  text-align: center;
  height: 300px;
  color: black;
  //font-size: 30px;
}

#but10 {
	font-family: 'Sora', sans-serif;
  	font-weight: bold;
    line-height: 50px;
    width: 250px;
    font-size: 15pt;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:20px;
    left:5;
    color: white;
  	border-radius: 25px;
    background: rgb(235, 148, 199);
  	text-align: center;
  	box-shadow: 5px 10px rgb(247, 233, 244);
 	border-style: solid;
  	border-color: white;
 }
.pro{
    border-radius: 50%;

}
.box{
 width: 23%;
    height: 100px;
    background-color: rgb(222, 158, 247);

}

.button1{
padding: 9px 40px;
border-color:rgba(200, 121, 174, 0.571);
background: rgb(254, 215, 247);
border-radius: 5px;
}
.button2{
  border-color:rgba(200, 121, 174, 0.571);
  background: rgb(254, 215, 247);
  width: 150px;
  border-radius: 5px;
  }
  .button3{
    border-color:rgba(200, 121, 174, 0.571);
    background: rgb(254, 215, 247);
    width: 120px;
    border-radius: 5px;
    }
    .button4{
      border-color:rgba(200, 121, 174, 0.571);
      background: rgb(254, 215, 247);
      width: 170px;
      border-radius: 5px;
      }
.button1:hover{
  color: white;
  background-color:#ca8be983;
}
.button2:hover{
  color: white;
  background-color:#ca8be983;
}.button3:hover{
  color: white;
  background-color:#ca8be983;
}.button4:hover{
  color: white;
  background-color:#ca8be983;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container .box2 {
  background-color: rgb(224, 175, 244);
  width: 50%;
  margin: 10px;
  text-align: center;
  height: 150px;
  color: white;
  //font-size: 30px;
}
.d2 {
    width: 100%;
    height: 600px;
    
    border-radius: 2%;background-color: white;  padding: 50px;
}
.d1 {
    text-align: center;
    width: 100%;
    height: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2%;background-color: white;  padding: 50px;
}
        
h1, body{
    font-family: 'Sora', sans-serif;
}

section {
    background-color:rgb(222, 158, 247);
    width: 40%;
    height: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2%;
    box-shadow: 5px 10px rgb(196, 114, 182);

}

span{
    text-align: center;
    padding-left: 120px; 
}

.title{
    font-weight: bold;

  color: white;
  border-radius: 25px;
  background: rgba(173, 59, 154, 0.308);
  padding: 20px;
  text-align: center;
  box-shadow: 5px 10px rgba(255, 244, 253, 0.791);
 border-style: solid;
  border-color: white;
}
.borderform{
  border-radius: 25px;
  background: rgba(255, 244, 253, 0.791);
  padding: 20px;
}

.btn{
  border-color:rgba(117, 96, 110, 0.571);
  background: rgba(255, 244, 253, 0.791);

}
.btn:hover{
  background-color:#a09cd941;
  border-color:#7d8184b0}
}





